.container{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.button{
    background-color: #0EC093;
    border: none;
    width: 300px;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    border-radius: 9px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }
 .signCard{
    width: 400px;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    border-radius: 9px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #0EC093;
 }
 .profileImage{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 40px;
    background-color: #0EC093;
    position: relative;
    overflow: hidden;
    border: 1px solid #0EC093;
 }