*{
    padding: 0px;
    margin: 0px;
    outline: none;
    text-decoration: none;
    
}

.light{
    background-color: #fff;
    color: #000;
}

.dark{
    background-color: #000;
    color: #fff;
}